/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
  margin: 5px 20px 20px 0; }

.aligncenter,
div.aligncenter {
  display: block;
  margin: 5px auto 5px auto; }

.alignright {
  float: right;
  margin: 5px 0 20px 20px; }

.alignleft {
  float: left;
  margin: 5px 20px 20px 0; }

a img.alignright {
  float: right;
  margin: 5px 0 20px 20px; }

a img.alignnone {
  margin: 5px 20px 20px 0; }

a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0; }

a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.wp-caption {
  background: #fff;
  border: 1px solid #f0f0f0;
  max-width: 96%;
  /* Image does not overflow the content area */
  padding: 5px 3px 10px;
  text-align: center; }

.wp-caption.alignnone {
  margin: 5px 20px 20px 0; }

.wp-caption.alignleft {
  margin: 5px 20px 20px 0; }

.wp-caption.alignright {
  margin: 5px 0 20px 20px; }

.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto; }

.wp-caption p.wp-caption-text {
  font-size: 11px;
  line-height: 17px;
  margin: 0;
  padding: 0 4px 5px; }

/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden; }

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */ }

.site-header {
  height: 28em;
  position: relative;
  background: no-repeat center center;
  background-size: cover;
  padding-top: 1rem; }
  @media screen and (max-width: 960px) {
    .site-header {
      height: 21em;
      padding-top: 0; } }
  @media screen and (max-width: 660px) {
    .site-header {
      background-position: center center;
      background-size: cover;
      height: 12em;
      background-repeat: no-repeat; } }
  @media screen and (max-width: 390px) {
    .site-header {
      height: 10em; } }

.top-bar {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%; }
  @media screen and (max-width: 660px) {
    .top-bar {
      position: absolute;
      z-index: 100; } }

@media screen and (max-width: 660px) {
  .menu-header-container {
    background-color: rgba(0, 0, 0, 0.6);
    display: none; }
    .menu-header-container ul {
      margin: 0;
      padding: 0;
      list-style-type: none; }
    .menu-header-container li {
      text-align: center; }
    .menu-header-container li .current_page_item a {
      color: white; }
    .menu-header-container a {
      padding: .5rem 0 .5rem 0;
      display: block;
      width: 100%;
      text-decoration: none;
      color: gray; }
    .menu-header-container a:hover {
      color: white; } }

#mobile-menu-container {
  display: none; }
  @media screen and (max-width: 960px) {
    #mobile-menu-container {
      display: none; } }

#logo-and-mobile-wrapper {
  margin-left: 2%;
  width: 18%;
  display: inline-block; }
  #logo-and-mobile-wrapper a {
    text-decoration: none; }
  #logo-and-mobile-wrapper img {
    height: 5rem; }
  @media screen and (max-width: 960px) {
    #logo-and-mobile-wrapper {
      width: 100%; } }
  @media screen and (max-width: 660px) {
    #logo-and-mobile-wrapper {
      width: 96%;
      height: 3rem;
      margin: 0 2% 0 2%; } }

#mobile-hamburger-container {
  display: none; }
  @media screen and (max-width: 960px) {
    #mobile-hamburger-container {
      display: none; } }
  @media screen and (max-width: 660px) {
    #mobile-hamburger-container {
      display: block;
      height: 3rem;
      float: right; }
      #mobile-hamburger-container button {
        height: inherit;
        background-color: transparent;
        border: none;
        color: gray; }
      #mobile-hamburger-container button:hover {
        color: white; }
      #mobile-hamburger-container #cross {
        display: none; }
      #mobile-hamburger-container i {
        font-size: 2rem; } }

@media screen and (max-width: 960px) {
  #logo-container {
    width: 100%;
    text-align: center; }
    #logo-container img {
      height: 5rem; } }
@media screen and (max-width: 660px) {
  #logo-container {
    width: 160px;
    float: left;
    height: inherit; }
    #logo-container img {
      height: 3rem; } }

#desktop-menu-container {
  vertical-align: top;
  margin-right: 2%;
  width: 77%;
  display: inline-block; }
  #desktop-menu-container ul {
    text-align: right; }
  #desktop-menu-container li {
    margin: 0 .3125rem 0 .3125rem;
    padding: 2.0625rem 0 2.0625rem 0;
    display: inline-block; }
    #desktop-menu-container li.current_page_item {
      color: white; }
  @media screen and (max-width: 960px) {
    #desktop-menu-container {
      width: 100%;
      display: block; }
      #desktop-menu-container ul {
        text-align: center; }
      #desktop-menu-container li {
        display: inline-block;
        padding: 1rem .3rem; } }
  @media screen and (max-width: 660px) {
    #desktop-menu-container {
      display: none; } }

#contact-container {
  background-color: rgba(0, 0, 0, 0.4);
  text-align: right;
  display: block;
  width: 100%;
  height: 1.5em; }
  @media screen and (max-width: 960px) {
    #contact-container {
      display: inline-block;
      text-align: center; } }
  @media screen and (max-width: 660px) {
    #contact-container {
      position: absolute;
      bottom: 0;
      text-align: center;
      background-color: transparent; } }

#number-container {
  width: 60%;
  margin-left: 2%;
  display: inline-block;
  float: left;
  height: inherit; }
  #number-container ul {
    text-align: left;
    height: inherit; }
  #number-container li {
    height: inherit;
    display: inline-block; }
  #number-container a {
    color: white; }
  #number-container i {
    display: none; }
  #number-container span {
    display: inline-block; }
  @media screen and (max-width: 960px) {
    #number-container {
      margin-left: 0;
      width: 100%; }
      #number-container ul {
        text-align: center; }
      #number-container li {
        width: 40%;
        margin: 0; } }
  @media screen and (max-width: 660px) {
    #number-container {
      width: 100%; }
      #number-container ul {
        width: 100%;
        text-align: center; }
      #number-container li {
        vertical-align: middle;
        float: left;
        width: 50%; }
      #number-container li:last-child {
        float: right; }
      #number-container a {
        font-size: 0.9rem;
        white-space: normal; }
      #number-container i {
        display: inline-block; }
      #number-container span {
        display: none; } }

.fb-like {
  margin-top: 1.0075px;
  position: relative;
  vertical-align: middle; }

#social-media-container {
  line-height: normal; }
  @media screen and (max-width: 960px) {
    #social-media-container {
      display: none; } }
  @media screen and (max-width: 660px) {
    #social-media-container {
      display: none; } }

iframe {
  position: relative;
  vertical-align: middle;
  margin-right: 3%; }

.site-footer {
  overflow: auto;
  margin-top: 1em;
  font-size: 0.7em;
  width: 100%;
  padding: 1em 0;
  background-color: rgba(0, 0, 0, 0.8);
  line-height: normal; }
  .site-footer #wrapper {
    font-size: 0;
    width: 100%; }

.lots-of-links {
  display: inline-block;
  width: 33.333333%;
  font-size: 12px; }
  .lots-of-links h3 {
    font-size: 18.7px;
    text-align: center; }

#sektionen {
  font-size: 0; }
  #sektionen ul {
    font-size: 12px;
    display: inline-block;
    width: 47.5%;
    padding-left: 2.5%; }
    #sektionen ul#name-of-compounds {
      width: 47.5%;
      text-align: right;
      padding-right: 2.5%;
      padding-left: 0; }
  @media screen and (max-width: 960px) {
    #sektionen {
      width: 100%; } }
  @media screen and (max-width: 660px) {
    #sektionen {
      width: 100%; }
      #sektionen h3 {
        font-size: 15px; }
      #sektionen ul {
        font-size: 10px; } }

.good-links ul {
  font-size: 12px; }
  .good-links ul li {
    text-align: center; }
@media screen and (max-width: 960px) {
  .good-links {
    display: none; } }

.menu-footer-container {
  text-align: center; }
  .menu-footer-container ul {
    padding: 0;
    list-style-type: none; }
  .menu-footer-container li {
    margin-top: 1em;
    margin-left: 1%;
    display: inline-block;
    padding: 3px 10px; }
  .menu-footer-container li:hover a {
    color: white; }
  .menu-footer-container a {
    width: inherit;
    height: inherit;
    text-decoration: none;
    color: gray;
    font-size: 0.8em; }

@font-face {
  font-family: "blissful-thinking";
  src: url("../fonts/BlissfulThinking.otf"); }
@font-face {
  font-family: "Source-Sans-Pro";
  src: url("../fonts/SourceSansPro-Regular.otf"); }
body {
  font-family: Source-Sans-Pro !important;
  color: gray;
  background-color: #00ABE3;
  margin: 0;
  padding: 0;
  position: relative;
  line-height: 25px; }

h1 {
  margin: 0;
  line-height: 40px; }

h2 {
  margin: 0;
  line-height: 40px; }

p {
  color: #555; }

button {
  border: 0;
  background-color: transparent; }

.list {
  list-style-type: none;
  margin: 0;
  padding: 0; }
  .list a {
    text-decoration: none;
    color: inherit; }
  .list a:hover {
    color: white; }

#cover-screen-container {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.8);
  /*dim the background*/ }

.calendar-modal-panel {
  display: none;
  position: fixed;
  background-color: white;
  border-radius: 5px;
  text-align: center;
  z-index: 11;
  /* 1px higher than the overlay layer */ }
  .calendar-modal-panel h3 {
    line-height: 0; }
  .calendar-modal-panel ul {
    padding: 5%;
    text-align: left; }
  .calendar-modal-panel li {
    font-size: 1rem; }
  .calendar-modal-panel a:hover {
    color: black; }

.close-modal-panel {
  position: absolute;
  border: none;
  top: 0;
  right: 0;
  background-color: transparent; }

.fa-times {
  color: gray;
  font-size: 2rem; }

.close-modal-panel:hover .fa-times {
  color: black; }

.content-container {
  margin: 1%;
  overflow: auto; }
  @media screen and (max-width: 660px) {
    .content-container {
      margin: 1% 1% 0 1%; } }

.declaration-container {
  overflow: auto;
  margin: 0 auto;
  width: 58%; }
  .declaration-container iframe {
    margin: 0;
    width: 100%; }
  @media screen and (max-width: 960px) {
    .declaration-container {
      width: 90%; } }
  @media screen and (max-width: 660px) {
    .declaration-container {
      width: 100%; } }

#scheme-page-container {
  float: none;
  display: block;
  width: 58%;
  margin: 1% auto; }
  #scheme-page-container iframe {
    width: 96%;
    margin: 1% 2% 0 2%; }
  @media screen and (max-width: 960px) {
    #scheme-page-container {
      width: 90%; } }
  @media screen and (max-width: 660px) {
    #scheme-page-container {
      width: 100%; }
      #scheme-page-container iframe {
        margin: 0;
        width: 100%; } }

#group-points {
  background-color: #005a7d;
  border-radius: 0.15em;
  float: left;
  width: 20%;
  text-align: center; }
  #group-points ul {
    text-align: left; }
  #group-points li {
    padding: 0.7em 2em; }
  @media screen and (max-width: 960px) {
    #group-points {
      display: none; } }

#calendar {
  background-color: white;
  text-align: center;
  float: right;
  width: 100%; }
  #calendar .fc-toolbar .fc-left {
    display: block;
    width: 100%;
    text-align: center; }
    #calendar .fc-toolbar .fc-left h2 {
      float: none; }
  #calendar .fc-toolbar .fc-right {
    padding: 1rem 0 1rem 0;
    display: block;
    width: 100%;
    text-align: center; }
    #calendar .fc-toolbar .fc-right button {
      float: none; }
    #calendar .fc-toolbar .fc-right .fc-button-group {
      float: none; }

#arrow-container {
  display: none; }
  @media screen and (max-width: 960px) {
    #arrow-container {
      display: block;
      text-align: center;
      padding-bottom: 1rem; } }

@media screen and (max-width: 960px) {
  .arrow {
    font-size: 2rem;
    color: #000000; } }

@media screen and (max-width: 960px) {
  #arrow-up {
    display: none; } }

.posts-container {
  margin: 0 auto;
  width: 58%; }
  @media screen and (max-width: 960px) {
    .posts-container {
      display: block;
      width: 90%; } }
  @media screen and (max-width: 660px) {
    .posts-container {
      width: 100%; } }

.posts-container.first-page {
  width: 58%; }
  @media screen and (max-width: 960px) {
    .posts-container.first-page {
      width: 90%; } }
  @media screen and (max-width: 660px) {
    .posts-container.first-page {
      width: 100%; } }

.post article {
  border-radius: 0.15em;
  background-color: white;
  width: 100%;
  margin: 0 0 1% 0; }
.post .post-header-container {
  border-top-left-radius: 0.15em;
  border-top-right-radius: 0.15em;
  text-align: center;
  color: white;
  height: 2.5em;
  background: #005a7d none;
  margin-top: 0; }
  .post .post-header-container a {
    color: white;
    text-decoration: none; }
  .post .post-header-container a:hover {
    color: gray; }
  .post .post-header-container.faq-header {
    cursor: pointer; }
.post .image-container {
  width: 100%;
  text-align: center; }
  .post .image-container img {
    width: 100%; }

.post-footer-container {
  padding: 0 3% 2% 3%;
  overflow: auto; }
  .post-footer-container i {
    margin: 5px; }
  .post-footer-container a {
    color: black; }
    .post-footer-container a p {
      display: inline-block;
      text-decoration: underline; }
  .post-footer-container a:hover p {
    color: gray; }

.previous-post {
  float: left; }
  .previous-post p {
    margin-right: 5px; }

.next-post {
  float: right; }
  .next-post p {
    margin-left: 5px; }

.modal-panel {
  display: none;
  position: fixed;
  z-index: 11;
  background-color: white;
  border-radius: 5px;
  text-align: center;
  overflow: auto; }
  .modal-panel img {
    max-width: 100%; }

.clickable {
  cursor: pointer; }

.clickable:hover {
  color: teal; }

.post-content-container {
  width: 100%;
  box-sizing: border-box;
  padding: 2% 3% 2% 3%;
  margin: 0; }
  .post-content-container p {
    overflow: auto;
    width: 100%; }
  .post-content-container img {
    max-width: 100%; }
  .post-content-container iframe {
    width: 100%; }
  .post-content-container.faq {
    display: none; }
    .post-content-container.faq.show {
      display: block; }

#scheme {
  width: 100%;
  text-align: center; }
  #scheme tr {
    text-align: left; }
  #scheme tr:first-child td:first-child {
    background-color: red;
    height: 50px;
    width: 5%; }
  #scheme tr:nth-child(2) td:first-child {
    background-color: green;
    height: 50px;
    width: 5%; }
  #scheme tr:nth-child(3) td:first-child {
    background-color: blue;
    height: 50px;
    width: 5%; }
  #scheme tr:nth-child(4) td:first-child {
    background-color: blue;
    height: 50px;
    width: 5%; }

.post-footer-container {
  text-align: center;
  font-size: 0.7em;
  color: black;
  background-color: 49372;
  border-bottom-right-radius: 0.15em;
  border-bottom-left-radius: 0.15em; }
  .post-footer-container ul {
    width: 100%;
    padding: 0;
    margin: 0;
    list-style-type: none; }
  .post-footer-container li {
    display: inline-block;
    width: 31%; }
  .post-footer-container li:first-child {
    text-align: left;
    padding-left: 1%; }
  .post-footer-container li:last-child {
    text-align: right;
    padding-right: 1%; }

.scheme-daily {
  display: block;
  text-align: center;
  float: right;
  width: 20%;
  overflow: auto; }
  @media screen and (max-width: 960px) {
    .scheme-daily {
      display: block;
      float: none;
      width: 90%;
      margin: 0 auto 1% auto; } }
  @media screen and (max-width: 660px) {
    .scheme-daily {
      width: 100%; } }

.acf-map {
  width: 100%;
  height: 400px;
  border: #ccc solid 1px;
  margin: 20px 0; }

/*# sourceMappingURL=main.css.map */
