.site-header {
  height: 28em;
  position: relative;
  background: no-repeat center center;
  background-size: cover;
  padding-top: 1rem; }
  @media screen and (max-width: 960px) {
    .site-header {
      height: 21em;
      padding-top: 0; } }
  @media screen and (max-width: 660px) {
    .site-header {
      background-position: center center;
      background-size: cover;
      height: 12em;
      background-repeat: no-repeat; } }
  @media screen and (max-width: 390px) {
    .site-header {
      height: 10em; } }

.top-bar {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%; }
  @media screen and (max-width: 660px) {
    .top-bar {
      position: absolute;
      z-index: 100; } }

@media screen and (max-width: 660px) {
  .menu-header-container {
    background-color: rgba(0, 0, 0, 0.6);
    display: none; }
    .menu-header-container ul {
      margin: 0;
      padding: 0;
      list-style-type: none; }
    .menu-header-container li {
      text-align: center; }
    .menu-header-container li .current_page_item a {
      color: white; }
    .menu-header-container a {
      padding: .5rem 0 .5rem 0;
      display: block;
      width: 100%;
      text-decoration: none;
      color: gray; }
    .menu-header-container a:hover {
      color: white; } }

#mobile-menu-container {
  display: none; }
  @media screen and (max-width: 960px) {
    #mobile-menu-container {
      display: none; } }

#logo-and-mobile-wrapper {
  margin-left: 2%;
  width: 18%;
  display: inline-block; }
  #logo-and-mobile-wrapper a {
    text-decoration: none; }
  #logo-and-mobile-wrapper img {
    height: 5rem; }
  @media screen and (max-width: 960px) {
    #logo-and-mobile-wrapper {
      width: 100%; } }
  @media screen and (max-width: 660px) {
    #logo-and-mobile-wrapper {
      width: 96%;
      height: 3rem;
      margin: 0 2% 0 2%; } }

#mobile-hamburger-container {
  display: none; }
  @media screen and (max-width: 960px) {
    #mobile-hamburger-container {
      display: none; } }
  @media screen and (max-width: 660px) {
    #mobile-hamburger-container {
      display: block;
      height: 3rem;
      float: right; }
      #mobile-hamburger-container button {
        height: inherit;
        background-color: transparent;
        border: none;
        color: gray; }
      #mobile-hamburger-container button:hover {
        color: white; }
      #mobile-hamburger-container #cross {
        display: none; }
      #mobile-hamburger-container i {
        font-size: 2rem; } }

@media screen and (max-width: 960px) {
  #logo-container {
    width: 100%;
    text-align: center; }
    #logo-container img {
      height: 5rem; } }
@media screen and (max-width: 660px) {
  #logo-container {
    width: 160px;
    float: left;
    height: inherit; }
    #logo-container img {
      height: 3rem; } }

#desktop-menu-container {
  vertical-align: top;
  margin-right: 2%;
  width: 77%;
  display: inline-block; }
  #desktop-menu-container ul {
    text-align: right; }
  #desktop-menu-container li {
    margin: 0 .3125rem 0 .3125rem;
    padding: 2.0625rem 0 2.0625rem 0;
    display: inline-block; }
    #desktop-menu-container li.current_page_item {
      color: white; }
  @media screen and (max-width: 960px) {
    #desktop-menu-container {
      width: 100%;
      display: block; }
      #desktop-menu-container ul {
        text-align: center; }
      #desktop-menu-container li {
        display: inline-block;
        padding: 1rem .3rem; } }
  @media screen and (max-width: 660px) {
    #desktop-menu-container {
      display: none; } }

#contact-container {
  background-color: rgba(0, 0, 0, 0.4);
  text-align: right;
  display: block;
  width: 100%;
  height: 1.5em; }
  @media screen and (max-width: 960px) {
    #contact-container {
      display: inline-block;
      text-align: center; } }
  @media screen and (max-width: 660px) {
    #contact-container {
      position: absolute;
      bottom: 0;
      text-align: center;
      background-color: transparent; } }

#number-container {
  width: 60%;
  margin-left: 2%;
  display: inline-block;
  float: left;
  height: inherit; }
  #number-container ul {
    text-align: left;
    height: inherit; }
  #number-container li {
    height: inherit;
    display: inline-block; }
  #number-container a {
    color: white; }
  #number-container i {
    display: none; }
  #number-container span {
    display: inline-block; }
  @media screen and (max-width: 960px) {
    #number-container {
      margin-left: 0;
      width: 100%; }
      #number-container ul {
        text-align: center; }
      #number-container li {
        width: 40%;
        margin: 0; } }
  @media screen and (max-width: 660px) {
    #number-container {
      width: 100%; }
      #number-container ul {
        width: 100%;
        text-align: center; }
      #number-container li {
        vertical-align: middle;
        float: left;
        width: 50%; }
      #number-container li:last-child {
        float: right; }
      #number-container a {
        font-size: 0.9rem;
        white-space: normal; }
      #number-container i {
        display: inline-block; }
      #number-container span {
        display: none; } }

.fb-like {
  margin-top: 1.0075px;
  position: relative;
  vertical-align: middle; }

@media screen and (max-width: 960px) {
  #social-media-container {
    display: none; } }
@media screen and (max-width: 660px) {
  #social-media-container {
    display: none; } }

iframe {
  position: relative;
  vertical-align: middle;
  margin-right: 3%; }

/*# sourceMappingURL=header.css.map */
